@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.flex-col {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
}

header {
    text-align: center;
    color: gray;
    height: 15vh;
    position: relative;
    align-items: center;
    border-bottom: 5px solid rgba(255, 233, 31, 0.5);
}

header h1 {
    font-size: 3em;
}

.testing {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.testing button {
    background-color: rgba(255, 255, 255, 0.0);
    margin: 2px 0;
    padding: 3px 8px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 25px;
}

.testing button:hover {
    background-color: rgba(255, 233, 31, 0.5);
    border: 1px solid rgba(255, 255, 255, 1);
}

main {
    height: 85vh;
    margin: 0 auto;
}

.main-container {
    width: 50%;
}

.input-container {
    border: 1px dashed red;
}

.input-group {
    /* border: 1px solid green; */
    width: 80%;
    display: flex;
    justify-content: center;
}

.input {
    border: 2px solid #8b8b8b;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-align: right;
    box-shadow: 5px 5px 5px 0px rgba(255, 233, 31, 0.5);

    width: 40%;
}

.input:focus {
    border: 3px dashed red;
    outline: none;
}

.calc-container {
    border: 1px dashed blue;
}

.rate-container {
    border: 1px solid #0f0;
    background-color: #99ff99;
    padding: 5px;
}

#rate {
    width: 75px;
    border: 2px solid #f0f0d0;
    margin: 5px 0;
    padding: 5px;
    text-align: right;
}

.button-go {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    background-color: hsla(120, 100%, 80%, 0.4);
    height: 70px;
    width: 320px;
    border-radius: 25px;
    margin: 8px 4px 2px 4px;
    padding: 10px 20px;
    border: 3px solid darkgray;
    cursor: pointer;

    transition: 0.1s ease 0.2s;
}

.button-go:hover {
    background-color: hsla(120, 100%, 80%, 1.0);
    transition: 0.1s ease 0.2s;
}

.output-field {
    height: 200px;
    width: 80%;
    border: 1px dashed orange;
}

.total-card {
    padding: 10px;
    width: 100%;
    height: 50%;
    position: relative;

    overflow: hidden;
    /* text-align: center; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.total-card h2 {
    display: inline;
}

.total-card h4 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
}

.card-output {
    top: 20px;
    left: 60px;
}

.total-card i {
    padding: 0.3em;
    font-size: 3em;
}

.test-border {
    border: 3px dashed yellow;
}