@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: linear-gradient(0deg, #fff 80%, hsl(54, 100%, 72%) , hsl(0, 0%, 80%));
}

.flex-col {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

header {
    /* background: linear-gradient(0deg, #fff, hsl(54, 100%, 72%), #b3b3b3); */
    background-size: 200%;
    text-align: center;
    color: gray;
    height: 15vh;
    position: relative;
    align-items: center;
    text-shadow: 0 0 3px #fff;
    /* border-bottom: 5px solid hsl(54, 100%, 72%); */
}

header h1 {
    font-size: 3em;
}

.testing {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    border: 1px solid orange;
    background-color: gray;
    padding: 5px;
}

.menu-open {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    color: white;
    background-color: red;
    padding: 5px;
}

.menu-open:hover  {
    cursor: pointer;
}

.testing button {
    background-color: hsla(0, 0%, 100%, 0.4);
    margin: 5px 10px;
    margin-left: 45px;
    padding: 5px 15px;
    /* border: 2px solid rgba(0, 0, 0, 0.0); */
    /* border: 1px solid hsla(0, 0%, 0%, 0.1); */
    border: none;
    box-shadow: 0 0 1px 1px hsla(0, 0%, 100%, 0.4);
    border-radius: 25px;
    color: hsla(0, 0%, 100%, 1);
    font-weight: 400;
    text-shadow: 0 0 2px hsl(0, 0%, 45%);

    transition: 0.1s linear 0.1s;
}

.testing button:hover {
    background-color: hsla(120, 100%, 80%, 0.4);
    color: hsl(0, 0%, 35%);
    text-shadow: none;
    font-weight: 500;
    transform: scaleX(110%);
    transition: 0.1s linear 0.1s;
    border-width: 2px;
}

main {
    height: 85vh;
    margin: 0 auto;
}

.main-container {
    width: 50%;
}

.input-container {
    border: none;
}

.input-group {
    width: 80%;
    display: flex;
    justify-content: center;
}

.input {
    border: 2px solid #8b8b8b;
    border-radius: 5px;
    background-color: #f7f7f7;
    margin: 5px;
    padding: 5px;
    text-align: right;
    box-shadow: 5px 5px 5px 0px rgba(255, 233, 31, 0.5);
    width: 40%;
    font-size: 0.9em;
    font-weight: 600;
}

.input:focus {
    box-shadow: 5px 5px 5px 0px hsla(120, 100%, 80%, 1);
    outline: none;
    background-color: #fff;
}

.calc-container {
    border: none;
}

.rate-container {
    color: gray;
}

#rate {
    width: 75px;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 5px;
    margin: 5px 2px;
    padding: 5px;
    text-align: right;
    font-size: 1.1em;
    font-weight: 600;
    color: hsl(120, 50%, 40%)
}

.button-go {
    font-size: 24px;
    font-weight: 700;
    background-color: hsla(120, 100%, 80%, 0.4);
    height: 150px;
    width: 150px;
    border-radius: 25px;
    margin: 8px 4px 2px 4px;
    padding: 10px 20px;
    border: 3px solid rgba(0, 0, 0, 0.10);
    box-shadow: 2px 2px 4px #000;
    cursor: pointer;

    transition: 0.1s linear 0.1s;
}

.button-go:hover {
    background-color: hsla(120, 100%, 80%, 1.0);
    transition: 0.1s linear 0.1s;
}

.output-field {
    height: 200px;
    width: 80%;
}

.total-card {
    padding: 10px;
    width: 100%;
    height: 50%;
    position: relative;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.total-card h2 {
    display: inline;
}

.card-output {
    top: 20px;
    left: 60px;
    width: 40%;
}

#output-hrs, #output-wage {
    text-align: right;
}

.total-card i {
    padding: 0.3em;
    font-size: 3em;
}

.test-border {
    border: 3px dashed yellow;
}

