*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/ ")
}

header {
    text-align: center;
    color: gray;
}

header h1 {
    size: 30px;
    margin-bottom: 0;
}

header h4 {
    margin: 5px 0;
}

.inputs {
    width: 55%;
    margin: auto;
}

.inputs span {
    font-weight: bold;
}

.flex_col {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.flex_row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.button{
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    background-color: lightcoral;
    border-radius: 25px;
    margin: 2px 4px;
    padding: 10px 20px;
    border: 3px solid darkgray;
}

.button:hover {
    background-color: yellow;
}

.total {
    min-width: 20vw;
    max-width: 35vw;
    height: 120px;
    margin: auto;
    background-color: lightgray;
    border: 1px solid #0f0;
}

.total-card {
    padding: 10px;
    border: 1px solid #f0f;
    width: 50%;
    position: relative;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.total-card h4 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    border: 1px dotted #fff;
    background-color: #ddd;
}

.card-output {
    /* position: absolute; */
    top: 20px;
    left: 60px;
}